@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  padding: 5px;
}
main {
  padding: 10px;
}
.question {
  width: 850px;
  margin: 15px;
}
.question {
  text-align: center;
}
.answers {
  display: flex;
  justify-content: space-around;
  margin: 5px;
}
.answer-btn {
  padding: 3px;
  margin: 0 5px;
  width: 120px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}
.answer-btn:hover {
  background-color: white;
  color: black;
}
.Option {
  display: flex;
  gap: 5px;
}
input[type="checkbox"] {
  cursor: pointer;
}
.end-btn {
  width: 170px;
  background-color: transparent;
  font-size: 1.1rem;
  outline: none;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 2px;
  cursor: pointer;
  transition: 0.2s ease;
}
.end-btn:hover {
  background-color: black;
  color: white;
}
form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.question-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.new-question-input {
  font-weight: bold;
  font-size: 18px;
  outline: none; 
  border: none;
  border-bottom: 1px solid black;
  width: 80%;
}
.icon {
  font-size: 1.6rem;
  cursor: pointer;
}
.icon-group {
  display: flex;
  gap: 10px;
}
